absl-py
alabaster
applaunchservices
appnope
appscript
argh
asgiref
asn1crypto
astor
astroid
astropy
atomicwrites
attrs
autopep8
Babel
backcall
backports.shutil-get-terminal-size
beautifulsoup4
bitarray
bkcharts
bleach
bokeh
boto
brotlipy
certifi
cffi
chardet
click
cloudpickle
clyent
colorama
contextlib2
contextvars
cryptography
cycler
Cython
cytoolz
dask
decorator
defusedxml
diff-match-patch
distributed
Django
docutils
entrypoints
et-xmlfile
fastcache
filelock
flake8
Flask
fsspec
future
gast
gevent
glob2
gmpy2
google-pasta
greenlet
grpcio
h5py
HeapDict
html5lib
idna 
imageio
imagesize
immutables
importlib-metadata
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jdcal
jedi
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab
jupyterlab-server
Keras-Applications
Keras-Preprocessing
keyring
kiwisolver
lazy-object-proxy
libarchive-c
llvmlite
locket
lxml
Markdown
MarkupSafe
matplotlib
mock
more-itertools
mpld3
mpmath
msgpack
multipledispatch
multitasking
nbconvert
nbformat
networkx
nltk
nose
notebook
numba
numexpr
numpy
numpydoc
olefile
opencv-python
openpyxl
opt-einsum
packaging
pandas
pandas-datareader
pandocfilters
parso
partd
path
pathlib2
pathtools
patsy
pep8
pexpect
pickleshare
Pillow
pkginfo
pluggy
ply
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
py
pycodestyle
pycosat
pycparser
pycrypto
pycurl
pydocstyle
pyflakes
Pygments
pylint
pyodbc
pyOpenSSL
pyparsing
pyrsistent
PySocks
pytest
python-dateutil
python-jsonrpc-server
python-language-server
pytz
PyWavelets
PyYAML
pyzmq
QDarkStyle
QtAwesome
qtconsole
QtPy
regex
requests
rope
Rtree
ruamel-yaml
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
simplegeneric
singledispatch
six
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-websupport
spyder
spyder-kernels
SQLAlchemy
sqlparse
statsmodels
sympy
tables
tblib
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor
terminado
testpath
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
typed-ast
typing-extensions
ujson
unicodecsv
urllib3
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
wurlitzer
xlrd
XlsxWriter
xlwings
xlwt
yapf
yfinance
zict
zipp
zope.event
zope.interface
