<!DOCTYPE html>
<html>
    <head>
        <title>{% block heading %}{% endblock %}</title>
        <link rel="icon" href="../static/assets/logo.png">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!--Custom Stylesheet-->
        <link rel="stylesheet" href="../../static/css/styles.css">
    </head>
    <body class="text-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/" id="home">
                <img src="../../static/assets/logo.png" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                <img src="../../static/assets/title.png" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            </a>
            <ul class="nav navbar-nav center-nav">
                <li class="nav-item active">{% block name %}{% endblock %}</li>
         </ul>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" id="cart" href="/cart">{% block cart %}{% endblock %}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" id="orders" href="/orders">{% block order %}{% endblock %}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" id="logout" href="/logout">{% block log %}{% endblock %}</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
        <div class="row justify-content-md-center">
        <div class="d-flex justify-content-center">
            {% block body %}
            {% endblock %}
        </div>
        </div>
        </div>
        <footer id="footer">
            <div class="footer">
                <span>Author: Atin Sakkeer Hussain</span>
            </div>
        </footer>
        {% block script %}
        {% endblock %}
    </body>
</html>